{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include/"}]}.
{plugins, [{rebar3_gpb_plugin, "2.10.0"}]}.

{gpb_opts, [
            {i, "proto"},
            {f, ["kafka_proto.proto"]},
            {o_erl, "src"},
            {o_hrl, "include"}
        ]
}.

{provider_hooks, [
        {pre, [
                {compile, {protobuf, compile}},
                {clean, {protobuf, clean}}
        ]}
]}.

{deps, [
        {vernemq_dev, {git, "https://github.com/vernemq/vernemq_dev.git", {tag, "1.0.0"}}},
        {brod, "3.14.0"}
       ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{dialyzer, [
            {warnings, [no_return]},
            {plt_apps, top_level_deps},
            {plt_prefix, "vmq_kafka"}
           ]
}.

{eunit_compile_opts, [nowarn_export_all]}.

{ct_compile_opts, [nowarn_export_all]}.